In [3]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
s = pd.Series([4,18,15,16,23,42])
print(s)

0     4
1    18
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import pandas as pd
li=[2,4,5,1,78,12,88,15,22,34]
s2 = pd.Series(li)
print(s2)

0     2
1     4
2     5
3     1
4    78
5    12
6    88
7    15
8    22
9    34
dtype: int64

In [10]:
# Q3. Create a Pandas DataFrame that contains the following data:
import pandas as pd
df= pd.DataFrame([["Alice",25,"Female"],["Bob",30,"Male"],["Clair",27,"Female"]], columns=["Name","Age","Gender"])
print(df)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:  a DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, while a Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame or as a standalone data structure.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

Ans: Here are some of the most common Pandas data manipulation tasks: Data selection: Pandas provides a variety of functions for selecting data, such as read(), head(), tail(),describe(), and loc(). These functions allow you to select specific rows, columns, or subsets of data from a DataFrame.

1. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame.

2. head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame.

3. tail() is used to return the last n rows of a dataset, By default, df,tail() will return the last 5 rows of the DataFrame.

4. describe() is used to generate descriptive statistics of the data in a Pandas DataFrame or Series. It summarizes central tendency and dispersion of the dataset.

5. loc() helps to access a group of rows and columns in a dataset, a slice of the dataset, as per our requirement.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable

In [11]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Importing Pandas library
import pandas as pd

# Creating two lists
author = ['Jitender', 'Purnima',
		'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
		'Article': article_series}

# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178