Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans- A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference-
1. SQL is Relational Database Management System(RDBMS) whereas NoSQL is Non-relational or distributed database system.
2. SQL is static in nature whrereas NoSQL is dynamic in nature.
3. SQL is best suited for complex queries whereas NoSQL is not so good for complex queries.
4. SQL is Vertically Scalable whereas NoSQL is Horizontally Scalable.
5. SQL follows ACID properties whereas NoSQL follows CAP.
6. Examples: SQL - MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.
             NoSQL - MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans- Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1. CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Example:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2. DROP :
This command is used to remove an existing table along with its structure from the Database.
Example:
DROP TABLE Student_info;

3. ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
Example:
ALTER TABLE Student_info
ADD CGPA number;

4. TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
Example:
TRUNCATE TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans- The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. 
1. INSERT: This command is used to insert data into a table.
Example

Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);

2. UPDATE: This command is used to update existing data within a table.
Example

UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

3. DELETE:This command is used to delete records from a database table.
Example

DELETE from Employee WHERE Emp_id=002;

Q4. What is DQL? Explain SELECT with an example.
Ans- DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.

SELECT :  This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

Example: 1. To fetch all the fields from student table:
             SELECT * FROM Student;
          
         2. To select particular data based on given condition:
         SELECT CustomerName FROM Customer where Age = '21';

Q5. Explain Primary Key and Foreign Key.
1. Primary Key:
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

2. Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans- cursor(): A cursor is an object which helps to execute the query and fetch the records from the database.
     executes(): This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are   bound to the variables in the operation.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("select c2,c5 from test2.test_table");
for i in mycursor.fetchall():
    print(i)
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.